# Built-in data structures

Data structures are “containers” that organize and group data according to type.

The built-in data structures in Python include list, set, tuples, and dictionary. 

Each of the data structures is unique in its own way.

## Lists

Lists are used to store multiple items in a single variable.

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] 

items in list have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

Since lists are indexed, lists can have items with duplicate value

In [1]:
Country_list=["India","Srilanka","Bangaladesh","Pakistan","India","India"]
print(Country_list)

['India', 'Srilanka', 'Bangaladesh', 'Pakistan', 'India', 'India']

In [2]:
# To determine how many items a list has, use the len() function
Country_list=["India","Srilanka","Bangaladesh","Pakistan","India","India"]

print(len(Country_list))

6

In [3]:
# List items can be of any data type
#list can also contain different data types
Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
print(Country_list)

['India', 1, 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

### Access List items

Index can be used to access list 

Indexing is similar to the index of string

In [4]:
#List items are indexed and you can access them by referring to the index number

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
print(Country_list[0])

India

In [6]:
# Negative indexing means start from the end as same as string 

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India","Pakistan"]
print(Country_list[-1])

Pakistan

In [8]:
# You can specify a range of indexes by specifying where to start and where to end the range

# When specifying a range, the return value will be a new list with the specified items

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
print(Country_list[0:2])

# Leaving the first index also will start from first instance 

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
print(Country_list[:5])

['India', 1]
['India', 1, 'Srilanka', 1.2, 'Bangaladesh']

In [12]:
# To determine if a specified item is present in a list use the in keyword

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]

if "India" in Country_list: 
    print("Yes")

Yes

In [14]:
# To change the value of a specific item, refer to the index number

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list[0]="USA"
print(Country_list)

['USA', 1, 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

In [15]:
#To change the value of items within a specific range, define a list with the new values, 
# and refer to the range of index numbers where you want to insert the new values

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list[0:2]=["USA","Germany"]
print(Country_list)

['USA', 'Germany', 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

In [19]:
#To insert a new list item, without replacing any of the existing values, we can use the insert() method

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list.insert(1,"USA")
print(Country_list)

['India', 'USA', 1, 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

In [21]:
# To add an item to the end of the list, use the append() method

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list.append("USA")
print(Country_list)

['India', 1, 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India', 'USA']

In [23]:
# The remove() method removes the specified item
Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list.remove("Srilanka")
print(Country_list)

['India', 1, 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

In [24]:
# The pop() method removes the specified index

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
Country_list.pop(1)
print(Country_list)

['India', 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan', 'India', 'India']

### Loop through the list

In [26]:
# You can loop through the list items by using a for loop

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]

for i in Country_list:
    print(i)

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

In [27]:
#You can also loop through the list items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]

for i in range(0,len(Country_list)):
    print(Country_list[i])

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

In [35]:
# You can loop through the list items by using a while loop

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
i = 0
while i < len(Country_list):
    print(Country_list[i])
    i = i + 1

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

### Looping Using List Comprehension

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [39]:
Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]

[print(x) for x in Country_list]

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

[None, None, None, None, None, None, None, None]

In [46]:
#The condition is like a filter that only accepts the items that valuate to True4
# Syntax: newlist = [expression for item in iterable if condition == True]


Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
new_list=[x for x in Country_list if x!="India"]
print(new_list)

[1, 'Srilanka', 1.2, 'Bangaladesh', 'Pakistan']

In [49]:
# The expression is the current item in the iteration, but it is also the outcome, 
# which you can manipulate before it ends up like a list item in the new list

Country_list=["India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"]
new_list=[x.upper() for x in Country_list if x=="India"]
print(new_list)

['INDIA', 'INDIA', 'INDIA']

In [52]:
#List objects have a sort() method that will sort the list alphanumerically, ascending, by default

number_list=[1,2,6,7,9,3,1,4]
number_list.sort()
print(number_list)

[1, 1, 2, 3, 4, 6, 7, 9]

In [54]:
Country_list=["India","Srilanka","Bangaladesh","Pakistan","India","India"]
Country_list.sort()
print(Country_list)

['Bangaladesh', 'India', 'India', 'India', 'Pakistan', 'Srilanka']

In [55]:
# To sort descending, use the keyword argument reverse = True

number_list=[1,2,6,7,9,3,1,4]
number_list.sort(reverse=True)
print(number_list)

[9, 7, 6, 4, 3, 2, 1, 1]

In [57]:
# By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters

Country_list=["india","Srilanka","bangaladesh","Pakistan","India","India"]
Country_list.sort()
print(Country_list)

['India', 'India', 'Pakistan', 'Srilanka', 'bangaladesh', 'india']

In [61]:
# if you want a case-insensitive sort function, use str.lower or str.upper as a key function

Country_list=["india","Srilanka","bangaladesh","Pakistan","India","India"]
Country_list.sort(key=str.lower)
print(Country_list)

['bangaladesh', 'india', 'India', 'India', 'Pakistan', 'Srilanka']

In [64]:
# You cannot copy a list simply by typing list2 = list1, because
# list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

# There are two ways to copy the list 

Country_list=["india","Srilanka","bangaladesh","Pakistan","India","India"]
new_list=Country_list.copy()
print(new_list)


new_list_1=list(Country_list)
print(new_list_1)

['india', 'Srilanka', 'bangaladesh', 'Pakistan', 'India', 'India']
['india', 'Srilanka', 'bangaladesh', 'Pakistan', 'India', 'India']

In [73]:
# There are several ways to join, or concatenate, two or more lists in Python

#One method is to use + operator 

Country_list_1=["india","Srilanka","bangaladesh","Pakistan"]
Country_list_2=["Germany","Netherlands","Mexico","Poland"]
print("Using + opeartor:",Country_list_1+Country_list_2)

# Another way to join two lists is by appending all the items from list2 into list1, one by one

for i in Country_list_2:
    Country_list_1.append(i)
print("using append:",Country_list_1)


# The extend method can also be used to join the list 
Country_list_1=["india","Srilanka","bangaladesh","Pakistan"]
Country_list_2=["Germany","Netherlands","Mexico","Poland"]
Country_list_1.extend(Country_list_2)
print("Using extend function:",Country_list_1)

Using + opeartor: ['india', 'Srilanka', 'bangaladesh', 'Pakistan', 'Germany', 'Netherlands', 'Mexico', 'Poland']
using append: ['india', 'Srilanka', 'bangaladesh', 'Pakistan', 'Germany', 'Netherlands', 'Mexico', 'Poland']
Using extend function: ['india', 'Srilanka', 'bangaladesh', 'Pakistan', 'Germany', 'Netherlands', 'Mexico', 'Poland']

# Tuples 

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and immutable.

Tuples are written with round brackets.

Operations and methods are similar to that of the Lists

In [1]:
# Once a tuple is created, you cannot change its values. Tuples are immutable

# But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

Country_tuple=("india","Srilanka","bangaladesh","Pakistan")
country_list=list(Country_tuple)
country_list[1]="USA"
Country_tuple=tuple(country_list)
print(Country_tuple)

('india', 'USA', 'bangaladesh', 'Pakistan')

In [2]:
# You are allowed to add tuples to tuples, 
# so if you want to add one item, (or many), 
# create a new tuple with the item(s), and add it to the existing tuple
Country_tuple_1=("india","Srilanka","bangaladesh","Pakistan")
Country_tuple_2=("Germany","Netherlands","Mexico","Poland")
print(Country_tuple_1+Country_tuple_2)

('india', 'Srilanka', 'bangaladesh', 'Pakistan', 'Germany', 'Netherlands', 'Mexico', 'Poland')

In [5]:
# Looping is similar to the list 

# You can loop through the tuple items by using a for loop

Country_tuple=("India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India")

for i in Country_tuple:
    print(i)

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

In [6]:
#You can also loop through the tuple items by referring to their index number.

#Use the range() and len() functions to create a suitable iterable.

Country_tuple=("India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India")

for i in range(0,len(Country_tuple)):
    print(Country_tuple[i])

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

In [7]:
# You can loop through the list items by using a while loop

Country_tuple=("India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India")
i = 0
while i < len(Country_tuple):
    print(Country_tuple[i])
    i = i + 1

India
1
Srilanka
1.2
Bangaladesh
Pakistan
India
India

# Sets

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements.

Set is define in { }

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes like we do in lists.

In [8]:
Country_set={"India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"}
print(Country_set)

# Duplicates will be removed in a set

{1, 1.2, 'Bangaladesh', 'Pakistan', 'Srilanka', 'India'}

In [9]:
# Set can be used to remove duplicates in other built in data structures 

Country_tuple=("India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India")
print(set(Country_tuple))

{1, 1.2, 'Pakistan', 'Srilanka', 'Bangaladesh', 'India'}

In [12]:
# To add items from another set into the current set, use the update() method.

#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.)

Country_set={"India",1,"Srilanka",1.2,"Bangaladesh","Pakistan","India","India"}

Country_tuple=("Germany","Netherlands","Mexico","Poland")

Country_set.update(Country_tuple)
print(Country_set)

{1, 1.2, 'Mexico', 'Srilanka', 'Netherlands', 'Bangaladesh', 'Poland', 'Germany', 'Pakistan', 'India'}

# Dictionary

Dictionaries are used to store data values in key:value pairs

A dictionary is a collection which is ordered*, changeable and do not allow duplicates

Dictionaries are written with curly brackets, and have keys and values

Syntax: dict={key:value}

In [4]:
# Lets create and print dictionary 

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon'}

In [7]:
# Dictionaries cannot have two items with the same key

# Duplicate values will overwrite existing values
space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon","Planet":"Mars"}
print(space_dict)

{'Planet': 'Mars', 'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon'}

In [8]:
# To determine how many items a dictionary has, use the len() function

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(len(space_dict))

4

In [9]:
# The values in dictionary items can be of any data type
space_dict={"Planet":"Earth","Star":"Sun","Distance":151,"Galaxy":["Milky way","Andromeda"],"Satellite":"Moon","Stationary":False}
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Distance': 151, 'Galaxy': ['Milky way', 'Andromeda'], 'Satellite': 'Moon', 'Stationary': False}

In [25]:
# You can access the items of a dictionary by referring to its key name, inside square brackets

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict["Star"])

Sun

In [26]:
# There is also a method called get() that will give you the same result

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict.get("Star"))

Sun

In [27]:
# The keys() method will return a list of all the keys in the dictionary

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict.keys())

dict_keys(['Planet', 'Star', 'Galaxy', 'Satellite'])

In [28]:
# The values() method will return a list of all the values in the dictionary

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict.values())

dict_values(['Earth', 'Sun', 'Milky way', 'Moon'])

In [29]:
# The items() method will return each item in a dictionary, as tuples in a list

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
print(space_dict.items())

dict_items([('Planet', 'Earth'), ('Star', 'Sun'), ('Galaxy', 'Milky way'), ('Satellite', 'Moon')])

In [30]:
# Value of a specific item can be changed by referring to its key name

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
space_dict["Galaxy"]="Andromeda"
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Galaxy': 'Andromeda', 'Satellite': 'Moon'}

In [33]:
# The update() method will update the dictionary with the items from the given argument

# The argument must be a dictionary, or an iterable object with key:value pairs

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

space_dict.update({"Planet":"Mars"})
print(space_dict)

{'Planet': 'Mars', 'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon'}

In [34]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
space_dict["Asteroid"]="Hermes"
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon', 'Asteroid': 'Hermes'}

In [35]:
# The update() method will update the dictionary with the items from the given argument

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

space_dict.update({"Asteroid":"Hermes"})
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon', 'Asteroid': 'Hermes'}

In [36]:
# The pop() method removes the item with the specified key name

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

space_dict.pop("Planet")
print(space_dict)

{'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon'}

In [37]:
# The popitem() method removes the last inserted item

# in versions before 3.7, a random item is removed instead

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

space_dict.popitem()
print(space_dict)

{'Planet': 'Earth', 'Star': 'Sun', 'Galaxy': 'Milky way'}

In [39]:
# The del keyword removes the item with the specified key name

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

del space_dict["Planet"]

print(space_dict)

{'Star': 'Sun', 'Galaxy': 'Milky way', 'Satellite': 'Moon'}

In [40]:
# The del keyword can also delete the dictionary completely

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

del space_dict

print(space_dict)

# It shows name error as the dictionary is deleted

NameError: name 'space_dict' is not defined

In [41]:
# The clear() method empties the dictionary 

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

space_dict.clear()

print(space_dict)

{}

# Loop Through a Dictionary

You can loop through a dictionary by using a for loop.

When looping through a dictionary, the return value are the keys of the dictionary, but there are methods to return the values as well

In [43]:
# Print all key names in the dictionary, one by one

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

for i in space_dict:
    print(i)

Planet
Star
Galaxy
Satellite

In [45]:
# Print all values in the dictionary, one by one

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
for i in space_dict:
    print(space_dict[i])

Earth
Sun
Milky way
Moon

In [46]:
# You can also use the values() method to return values of a dictionary

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
for i in space_dict.values():
    print(i)

Earth
Sun
Milky way
Moon

In [47]:
# You can use the keys() method to return the keys of a dictionary

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}
for i in space_dict.keys():
    print(i)

Planet
Star
Galaxy
Satellite

In [48]:
# Loop through both keys and values, by using the items() method

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

for i,j in space_dict.items():
    print(i,j)

Planet Earth
Star Sun
Galaxy Milky way
Satellite Moon

In [56]:
# To determine if a specified key is present in a dictionary use the in keyword

space_dict={"Planet":"Earth","Star":"Sun","Galaxy":"Milky way","Satellite":"Moon"}

if "Planet" in space_dict:
    print("Planet is present in this dictionary")

Planet is present in this dictionary

In [62]:
#A dictionary can contain dictionaries, this is called nested dictionaries

space_dict={"Earth":{"satellite":"Moon","Mass":5.96e24,"Size":6371},"Mars":{"satellite":"Phobos","Mass":6.39e23,"Size":3389},
            "Venus":{"satellite":"Titan","Mass":4.87e24,"Size":6051}}

print(space_dict)

{'Earth': {'satellite': 'Moon', 'Mass': 5.96e+24, 'Size': 6371}, 'Mars': {'satellite': 'Phobos', 'Mass': 6.39e+23, 'Size': 3389}, 'Venus': {'satellite': 'Titan', 'Mass': 4.87e+24, 'Size': 6051}}

In [65]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries

Earth={"satellite":"Moon","Mass":5.96e24,"Size":6371}
Mars={"satellite":"Phobos","Mass":6.39e23,"Size":3389}
Venus={'satellite': 'Titan', 'Mass': 4.87e+24, 'Size': 6051}
space_dict={"Earth":Earth,"Mars":Mars,"Venus":Venus}
print(space_dict)

{'Earth': {'satellite': 'Moon', 'Mass': 5.96e+24, 'Size': 6371}, 'Mars': {'satellite': 'Phobos', 'Mass': 6.39e+23, 'Size': 3389}, 'Venus': {'satellite': 'Titan', 'Mass': 4.87e+24, 'Size': 6051}}